{% extends 'base.html' %}

{% block content %}
    <h1>{{ person.username }}의 프로필 입니다.</h1>
    <p>팔로잉 : <span id = 'followings-count'>{{ person.followings.all|length }}</span></p>
    <p>팔로워 : <span id = 'followers-count'>{{ person.followers.all|length }}</span></p>
    
    {% if person != user %}
      <form id="follow-form" data-user-id="{{ person.username }}">
        {% csrf_token %}
        {% if user in person.followers.all %}
          <input type="submit" value="팔로우 취소">
        {% else %}
          <input type="submit" value="팔로우">
        {% endif %}
      </form>
    {% endif %}

    <hr>
    
    <h1> 게시글 목록 </h1>
    {% for post in person.post_set.all %}
    <p><a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a></p>
    {% endfor %}
    
    <hr>
    
    <h1> 댓글 목록 </h1>
    {% for comment in person.comment_set.all %}
    <p><a href="{% url 'posts:detail' comment.post.pk %}">{{ comment.content }}</a></p>
    {% endfor %}
    
{% endblock content %}


{% block script %}
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  form.addEventListener('submit', function(event) {
    event.preventDefault()
    const userId = event.target.dataset.userId
    
    axios({
      method: 'post',
      url: `/accounts/follow/${userId}/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > input[type=submit]')
        if (isFollowed === true) {
          followBtn.value = '팔로우 취소'
        } else {
          followBtn.value = '팔로우'
        }
        const followingsCounterTag = document.querySelector('#followings-count')
        const followersCounterTag = document.querySelector('#followers-count')
        const followingsCountData = response.data.followings_count
        const followersCountData = response.data.followers_count
        followingsCounterTag.textContent = followingsCountData
        followersCounterTag.textContent = followersCountData
      })
  })
  
  
</script>
{% endblock script %}

