{% extends 'base.html' %}
{% block content %}
  <p>번호 - {{ post.pk }}</p>
  <p>제목 - {{ post.title }}</p>
  <p>작성자 - {{ post.user }}</p>
  <form action="{% url 'posts:answer' post.pk post.select1_content %}" method="POST">
    {% csrf_token %}
      <input type="submit" value="{{ post.select1_content }} - {{ post.select1_users.count }}">
  </form>
  <form action="{% url 'posts:answer' post.pk post.select2_content %}" method="POST">
    {% csrf_token %}
      <input type="submit" value="{{ post.select2_content }} - {{ post.select2_users.count }}">
  </form>
  <hr>
  <a href="{% url 'posts:index' %}">[뒤로가기]</a>
{% endblock content %}