{% extends 'base.html' %}
{% load static %}
{% block content %}
  <p>번호 - {{ post.pk }}</p>
  <p>제목 - {{ post.title }}</p>
  <p>작성자 - {{ post.user }}</p>
  {% if post.img1 %}
    <img src="{{ post.img1.url }}" alt="">
  {% else %}
    <img src="{% static '1.png' %}" alt="">
  {% endif %}
  <form action="{% url 'posts:answer' post.pk post.select1_content %}" method="POST">
    {% csrf_token %}
      <input type="submit" value="{{ post.select1_content }} - {{ post.select1_users.count }}">
  </form>

  {% if post.img2 %}
    <img src="{{ post.img2.url }}" alt="">
  {% else %}
    <img src="{% static '2.png' %}" alt="">
  {% endif %}
  <form action="{% url 'posts:answer' post.pk post.select2_content %}" method="POST">
    {% csrf_token %}
      <input type="submit" value="{{ post.select2_content }} - {{ post.select2_users.count }}">
  </form>
  <hr>
  <a href="{% url 'posts:index' %}">[뒤로가기]</a>
  <hr>
  <form action="{% url 'posts:comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit">
  </form>
  {% for comment in comments %}
    <p>{{ comment.user }}</p>
    <p>{{ comment.content }}</p>
    <p>{{ comment.created_at }}</p>
    <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
  {% endfor %}
{% endblock content %}